.card {
    height: 200px;
    width: 15%;
    border-radius: 10px;
    background-color: #1f1f39;
    margin

}
.card1 {
    height: 600px;
    width: 25%;
    border-radius: 10px;
    background-color: #1f1f39;
    margin-left: 38% ;

}

img {
    border-radius: 5px 5px 5px 5px;
  }

p{
    font-size:18px
  }
